<<<<<<< HEAD
<% flash.each do |flash_type, msg| %>
  <div class="alert alert-<%= flash_type %>" role="alert">
    <%= msg %>
  </div>
<% end %>
=======
#msgはmessageの省略
<% flash.each do |flash_type, msg| %>
  <div class="alert alert-<%= flash_type %> " role="alert">
  <%= msg %>
</div>
>>>>>>> 84dfd58ed9350fc0d340362d4667a58047fde1a4
